.fontTitle::before {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 7px;
  height: 100px;
  left: 280px;
}
.fontTitle:hover .timeline-item-details-marker {
  transform: scale(0.4);
  background-color: #000000;
}
